<section class="card">
  <a href="/adopt/{{dog.id}}">
    <header>{{dog.name}}</header>
    <img src="/images/{{image}}" alt="{{name}} Image">
    <div class="details">
      <p>Status: {{dog.status}}</p>
      <p>Breed: {{dog.breed}}</p>
      <p>Age: {{dog.age}}</p>
      <p>Sex: {{dog.sex}}</p>
      <p>Vaccination: {{dog.vaccination}}</p>
      <p>Date Arrived: {{dog.date_arrived}}</p>
      <p>Spay/Neuter Status: {{dog.spay_neuter_status}}</p>
      <p>Description: {{dog.description}}</p>
    </div>
  </a>
</section>