<!DOCTYPE html>
<html>
<head>
    <title>Pet Information</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js"></script>
    <script src="/public/js/newdog.js"></script>
</head>
<body>
    <h1>Enter Pet Information</h1>
    <form id="petForm">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required><br>

        <label for="availability">Availability:</label>
        <select id="availability" name="availability" required>
            <option value="available">Available</option>
            <option value="unavailable">Unavailable</option>
        </select><br>

        <label for="breed">Breed:</label>
        <input type="text" id="breed" name="breed" required><br>

        <label for="age">Age:</label>
        <input type="number" id="age" name="age" required><br>

        <label for="sex">Sex:</label>
        <select id="sex" name="sex" required>
            <option value="male">Male</option>
            <option value="female">Female</option>
        </select><br>

        <label for="vaccination">Vaccination Status:</label>
        <input type="text" id="vaccination" name="vaccination" required><br>

        <label for="arrivalDate">Arrival Date:</label>
        <input type="date" id="arrivalDate" name="arrivalDate" required><br>

        <label for="spayedNeutered">Spayed/Neutered:</label>
        <input type="checkbox" id="spayedNeutered" name="spayedNeutered"><br>

        <label for="description">Describe the dog:</label>
        <input type="text" id="description" name="description"><br>

        <button type="submit">Submit</button>
    </form>

    <h1>logged in: {{logged_in}}</h1>
{{#each dogs as |dog|}}
  <div class='row mb-4 project'>
    <div class='col-md-5'>
      <h2>
        <!-- Call helper function with triple brackets to render the emoji span as HTML -->
        {{{get_emoji}}}
        <a href='/project/{{dog.id}}'>{{dog.name}}</a>
      </h2>
      <p>
        <span for='img' aria-label='money'>💲</span>
        <!-- Pass needed_funding value to the helper function -->
        <span class='dollar-amount'>{{format_amount
            project.needed_funding
          }}</span>
        needed!
      </p>
      <p>Created by {{project.user.name}}</p>
    </div>
    <div class='col-md-7'>
      <p>
        {{dog.description}}
      </p>
    </div>
  </div>
{{/each}}
</body>
</html>
