<div class="bg-white">
  <div class="mx-auto max-w-2xl px-4 py-16 sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8">
    <h2 class="text-2xl font-bold tracking-tight text-gray-900">Adoptable Dogs</h2>

    <div class="mt-6 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8">
      {{#each dogs as |dog|}}
      <div class="group relative">
        <div class="min-h-80 aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md bg-gray-200 lg:aspect-none group-hover:opacity-75 lg:h-80">
          <img src="https://tailwindui.com/img/ecommerce-images/product-page-01-related-product-01.jpg" alt="Front of men&#039;s Basic Tee in black." class="h-full w-full object-cover object-center lg:h-full lg:w-full">
        </div>
        <div class="mt-4 flex justify-between">
          <div>
            <h3 class="text-sm text-gray-700">
              <a href="/adopt/{{dog.id}}">
                <span aria-hidden="true" class="absolute inset-0"></span>
                {{dog.name}}
              </a>
            </h3>
            <p class="mt-1 text-sm text-gray-500">{{dog.description}}</p>
          </div>
          <p class="text-sm font-medium text-gray-900">{{dog.sex}}, {{dog.age}}</p>
        </div>
      </div>
{{/each}}
      <!-- More products... -->
    </div>
  </div>
</div>
{{#if logged_in}}
    <h1>Enter Pet Information</h1>
    <form id="petForm" class = "adoptForm">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required class = "bg-gray-400"><br>

        <label for="availability">Availability:</label>
        <select id="availability" name="availability" required class = "bg-gray-400">
            <option value="available">Available</option>
            <option value="unavailable">Unavailable</option>
        </select><br>

        <label for="breed">Breed:</label>
        <input type="text" id="breed" name="breed" required class = "bg-gray-400"><br>

        <label for="age">Age:</label>
        <input type="number" id="age" name="age" required class = "bg-gray-400"><br>

        <label for="sex">Sex:</label>
        <select id="sex" name="sex" required class = "bg-gray-400">
            <option value="male">Male</option>
            <option value="female">Female</option>
        </select><br>

        <label for="vaccination">Vaccination Status:</label>
        <input type="text" id="vaccination" name="vaccination" required class = "bg-gray-400"><br>

        <label for="arrivalDate">Arrival Date:</label>
        <input type="date" id="arrivalDate" name="arrivalDate" required class = "bg-gray-400"><br>

        <label for="spayedNeutered">Spayed/Neutered:</label>
        <input type="checkbox" id="spayedNeutered" name="spayedNeutered" class = "bg-gray-400"><br>

        <label for="description">Describe the dog:</label>
        <input type="text" id="description" name="description" class = "bg-gray-400"><br>

        <button type="submit">Submit</button>
    </form>
    <script src="./js/newdog.js"></script>
 {{/if}}