<section class="card">
  <a href="/adopt/{{id}}">
    <header>{{name}}</header>
    <img src="/images/{{image}}" alt="{{name}} Image">
    <div class="details">
      <p>Breed: {{breed}}</p>
      <p>Age: {{age}}</p>
      <p>Sex: {{sex}}</p>
      <p>Vaccination: {{vaccination}}</p>
      <p>Date Arrived: {{date_arrived}}</p>
      <p>Spay/Neuter Status: {{spay_neuter_status}}</p>
      <p>Description: {{description}}</p>
    </div>
  </a>
</section>